.wrapper {
    padding: 16px;
    font-family: "Geist", sans-serif;
}

.wrapper>h2 {
    
    margin-left: 100px ;
    /* Add left margin for the h2 element */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}