html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background 0.5s ease-in-out; /* Smooth transition for background changes */
}

/* Background when no search has been performed */
body.image-background {
  background-image: url('https://img.freepik.com/free-vector/pastel-pink-purple-gradient-blur-background_53876-115211.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
}

/* Background after search */
body.white-background {
  background-color: white; /* Changes background to white */
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
}

.wrapper {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.image-wrapper {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.image-item {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wrapper, .image-wrapper {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

/* Hide the scrollbar for WebKit browsers */
.wrapper::-webkit-scrollbar,
.image-wrapper::-webkit-scrollbar {
  width: 0; /* Hide scrollbar by setting its width to 0 */
  height: 0; /* For horizontal scrollbars (if any) */
}

.wrapper,
.image-wrapper {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

/* Loader Styles */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 1000; /* Ensure the loader is on top of other elements */
}

.loader {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Add spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
